body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.page-nav {
  width: 1056px;
}

.page-nav ul {
  display: flex;
  list-style: none;
}

.intro {
  padding-top: 77px;
  padding-bottom: 55px;
  background-color: #3c729c; 
}

.intro-logo {
  width: 458px;
  height: 352px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 140px;
}

.intro h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.review-first,
.review-second {
  display: flex;
}

.review-text {
  width: 400px;
  background-color: #81b3d2;
}

.review-first img,
.review-second img {
  width: 800px;
}

.review-text h2 {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.features,
.review-feature {
  display: flex;
}

.feature-item,
.review-item {
  width: 400px;
}

.feature-item {
  padding-top: 160px;
  padding-bottom: 85px; 
}

.review-item {
  padding-top: 47px;
  padding-bottom: 60px;
  background-color: #eeeeee;
}

.conclusion {
  padding-top: 55px;
}

.search-form {
  width: 460px;
  margin-right: auto;
  margin-left: auto;
  padding: 55px;
}

.page-map {
  width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.item-options {
  padding: 0 73px;
  background-color: #81b3d2;
}

.infrastructure-option,
.hotel-option {
  float: left;
  width: 240px;
}

.price-option {
  float: right;
  width: 320px;
}

.display-filters {
  display: flex;
  align-items: center;
  padding: 0 73px;
}

.display-filters h3 {
  width: 140px;
}

.display-sorting {
  width: 388px;
}

.display-arrows {
  width: 40px;
  margin-left: auto;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0 73px;
}

.catalog-item {
  display: flex;
  width: 1056px;
  padding-top: 28px;
  padding-bottom: 30px; 
}

.catalog-item img {
  margin-right: 20px;
}

.item-info {
  width: 230px;
}

.item-info h2 {
  margin: 0;
}

.raiting {
  width: 110px;
  margin-left: auto;
}

.page-footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.page-footer-layout {
  display: flex;
  width: 1056px;
}

.footer-hashtag {
  width: 240px;
  margin-right: 88px;
}

.footer-social {
  width: 210px;
}

.footer-copyright {
  width: 240px;
  margin-left: auto;
}
