body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.2),
  -10px 0 20px -10px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
}

.page-nav {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.page-nav ul {
  display: flex;
  margin: 0; 
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  list-style: none;
}

.page-nav li:first-child {
  width: 128px;
  margin-right: 112px;
}

.page-nav li:nth-child(3),
.page-nav li:last-child {
  margin-left: auto;
}

.page-nav li:last-child {
  width: 80px;
  margin-left: 160px;
}

.page-nav a {
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.page-nav a:hover {
  color: #81b3d2;
}

.page-nav a:active {
  color: #000000;
  opacity: 0.3;
}

.page-nav .active,
.page-nav .active:hover,
.page-nav .active:active {
  color: #766357;
  opacity: 1;
}

.header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 0;
  right: 0;
  margin: auto;
}

.intro {
  padding-top: 77px;
  background-color: #3c729c; 
  background: url("../img/mask.png") no-repeat center bottom 215px, 
  url("../img/background-main.jpg") no-repeat center -56.5px;
}

.intro-logo {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.intro-text {
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 52px;
  text-align: center;
  background-color: #ffffff;
}

.intro h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 380px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.intro p {
  margin: 0;
  color: #333333;
}

.review-first,
.review-second {
  display: flex;
  background-color: #81b3d2;
}

.review-text {
  width: 302px;
  margin: 47px 49px;
  text-align: center;
}

.review-img {
  display: flex;
  align-items: center;
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.review-text h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 70px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.review-text p {
  margin: 0;
  margin-top: 20px; 
  color: #ffffff;
}

.review-text span,
.review-item span {
  position: relative;
}

.review-text span {
  color: #ffffff;
}

.review-item span {
  color: #333333;
}

.review-text span::before,
.review-item span::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  top: 9px;
  right: 28px;
  background-color: #ffffff;
}

.review-text span::after,
.review-item span::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  top: 9px;
  right: -15px;
  background-color: #ffffff;
}

.review-item span::before,
.review-item span::after {
  background-color: #333333;
}

.features,
.review-feature {
  display: flex;
}

.review-feature {
  background-color: #eeeeee;
}

.feature-item,
.review-item {
  width: 290px;
  margin: 0 60px;
  text-align: center;
}

.feature-item {
  margin-top: 160px;
  margin-bottom: 82px; 
}

.review-item {
  margin-top: 47px;
  margin-bottom: 60px;
}

.feature-item h3,
.review-item h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 60px;
  font-size: 21px;
  font-weight: 700;
}

.feature-item p,
.review-item p {
  margin: 0;
  margin-top: 20px;
  color: #333333;
}

.housing,
.food,
.souvenirs {
  position: relative;
}

.housing::before,
.food::before,
.souvenirs::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 76px;
  bottom: 115px;
  left: 100px;
}

.housing::before {
  background: url("../img/sprites.png") no-repeat;
  background-position: -3px -767px;
}

.food::before {
  background: url("../img/sprites.png") no-repeat;
  background-position: -2px -686px;
}

.souvenirs::before {
  background: url("../img/sprites.png") no-repeat;
  background-position: 3px -955px
}

.conclusion {
  padding-top: 55px;
  line-height: 24px;
  text-align: center;
}

.conclusion h4 {
  margin: 0 321px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700px;
  line-height: 24px;
}

.conclusion p {
  margin: 0;
  color: #333333;
}

.page-button {
  position: relative;
  margin-top: 47px;
  padding: 30px 140px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-form {
  position: absolute;
  width: 460px;
  padding: 55px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.2);
}

.search-form-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 460px;
}

.search-form input {
  width: 299px; 
  margin: 0;
  margin-bottom: 30px;
  padding-top: 6px;
  padding-right: 35px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus{
  padding-top: 4px;
  padding-right: 33px;
  padding-bottom: 4px;
  padding-left: 10px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form label {
  width: 92px;
  margin-right: 20px;
  font-weight: 700;
}

.search-form-group:last-of-type input {
  width: 50px;
  margin: 0;
  padding: 6px 32px;
  text-align: center;
}

.search-form-group:last-of-type input:focus {
  padding: 4px 30px;
}

.search-form-group:last-of-type label[for=adults] {
  margin-right: 39px;
}

.search-form-group:last-of-type label[for=childs] {
  margin-right: 25px;
}

.search-form-group .calendar-arrival,
.search-form-group .calendar-leaving {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #f2f2f2;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -420px;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-form-group .calendar-arrival {
  top: 63px;
  right: 65px;
}

.search-form-group .calendar-leaving {
  top: 130px;
  right: 65px;
}

.search-form-group .calendar-arrival:hover,
.search-form-group .calendar-leaving:hover {
  background-position: -5px -484px;
} 

.search-form-group .calendar-arrival:active,
.search-form-group .calendar-leaving:active {
  background-position: -5px -452px;
}

.search-form-group .add,
.search-form-group .reduce {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
  background: url("../img/sprites.png") no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-form-group .reduce {
  background-position: -3px -845px;
  margin-left: 10px;
  bottom: 179px;
}

.search-form-group .reduce:hover {
  background-position: -3px -871px;
}

.search-form-group .reduce:active {
  background-position: -3px -858px;
}

.search-form-group .add {
  background-position: -3px -890px;
  margin-left: 86px;
  bottom: 178px;
}

.search-form-group .add:hover {
  background-position: -3px -932px;
}

.search-form-group .add:active {
  background-position: -3px -911px;
}

.search-form-btn {
  margin-top: 52px;
  padding: 17px 197px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-form-btn:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.page-map {
  width: 1200px;
  height: 473px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.item-options {
  padding-right:  73px;
  padding-left: 73px;
  padding-bottom: 6px;
  background-color: #81b3d2;
  background: url("../img/background-catalog.jpg") no-repeat center -55px;
}

.infrastructure-option,
.hotel-option {
  float: left;
  width: 240px;
}

.price-option {
  float: right;
  width: 320px;
}

.item-options fieldset {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  color: #ffffff;
  border: none;
}

.item-options legend {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.hotel-option legend {
  margin-left: 12px;
}

.infrastructure-option p {
  margin-left: -8px;
}

.hotel-option p {
  margin-left: 8px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-left: 47px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 22px;
  top: 0;
  left: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -325px;
}

input[type="checkbox"]:checked + label::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 22px;
  top: 0;
  left: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0px -293px;
}

input[type="checkbox"]:disabled  + label::before {
  background-position: 0 -388px;
}

input[type="checkbox"]:checked:disabled  + label::after {
  background-position: 0 -356px;
}

.option-button {
  float: right;
  margin-top: 148px; 
  margin-right: -226px;
  padding: 5px 33px;
  border: 2px solid #ffffff;
  border-radius: 3%;
  background-color: transparent;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.display-filters {
  display: flex;
  align-items: center;
  padding: 30px 73px;
}

.display-filters h3 {
  width: 140px;
  margin: 0;
  margin-right: 20px;
  font-size: 21px;
  line-height: 26px;
}

.display-sorting {
  width: 450px;
}

.display-sorting span {
  margin-right: 40px;
}

.display-sorting span,
.display-sorting a {
  font-size: 12px;
  line-height: 18px;
}

.display-sorting a {
  margin-right: 29px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.display-sorting a:first-of-type {
  color: #81b3d2;
  opacity: 1;
  border: none;
}

.display-sorting a:hover {
  color: #81b3d2;
  opacity: 1;
}

.display-sorting a:active {
  color: #000000;
  opacity: 1;
  border: none;
}

.display-arrows {
  position: relative;
  width: 34px;
  height: 11px;
  margin-left: auto;
}

.arrow-up {
  position: absolute;
  width: 11px;
  height: 10px;
  bottom: 0;
  left: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -152px;
}

.arrow-up:hover {
  background-position: -5px -192px;
}

.arrow-up:active {
  background-position: -5px -172px;
}

.arrow-down {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 0;
  right: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -212px;
}

.arrow-down.active,
.arrow-down:active {
  background-position: -5px -232px;
}

.arrow-down:hover {
  background-position: -5px -272px;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  display: flex;
  height: 90px;
  padding: 30px 73px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.catalog .catalog-item:nth-child(2) {
  border: none;
}

.catalog-item img {
  margin-right: 30px;
}

.item-info {
  width: 270px;
}

.item-info span {
  display: inline-block;
  width: 105px;
  margin-right: 6px;
  cursor: pointer;
}

.item-info h2 {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.item-info h2:hover {
  color: #81b3d2;
} 

.item-info h2:active {
  color: #000000;
  opacity: 0.3;
}

.item-info a {
  text-decoration: none;
}

.item-buttons {
  display: inline-block;
  vertical-align: top;
  margin-top: 17px;
  font-size: 0;
}

.about-btn,
.receive-btn {
  margin-right: 5px;
  padding: 3px 17px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff
}

.about-btn {
  background-color: #81b3d2;
}

.about-btn:hover {
  background-color: #669ec0;
}

.about-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.receive-btn {
  background-color: #766357;
}

.receive-btn:hover {
  background-color: #6e5e54;
}

.receive-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.raiting {
  position: relative;
  width: 120px;
  margin-left: auto;
}

.raiting-stars span:first-child {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 73px;
  right: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -1388px;
}

.raiting-stars span:nth-child(2) {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 73px;
  right: 24px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -1388px;
}

.raiting-stars span:nth-child(3) {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 73px;
  right: 48px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -1388px;
}

.raiting-stars span:nth-child(4) {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 73px;
  right: 72px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -1388px;
}

.raiting-number {
  position: absolute;
  width: 83px;
  padding: 3px 14px;
  bottom: 0px;
  right: 0px;
  color: #666666;
  background-color: #f2f2f2;
}

.page-footer {
  opacity: 0.9;
  padding: 36px 0;
}

.page-footer-layout {
  display: flex;
  align-items: center;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.footer-hashtag {
  width: 136px;
  margin-left: 60px;
  margin-right: 254px;
  text-align: center;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.footer-social {
  width: 160px;
  font-size: 0px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin: 0;
  margin-right: 6px;
  text-decoration: none;
  background-color: #81b3d2;
  background: url("../img/sprites.png") no-repeat;
}

.social-btn-tw {
  background-position: -5px -1040px;
}

.social-btn-tw:hover {
  background-position: -5px -1156px;
}

.social-btn-tw:active {
  background-position: -5px -1098px;
}

.social-btn-fb {
  background-position: -5px -516px;
}

.social-btn-fb:hover {
  background-position: -6px -632px;
}

.social-btn-fb:active {
  background-position: -6px -574px;
}

.social-btn-yt {
  background-position: -5px -1214px;
}

.social-btn-yt:hover {
  background-position: -5px -1330px;
}
.social-btn-yt:active {
  background-position: -5px -1272px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  width: 196px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
}

.footer-copyright span{
  margin-right: 7px;
}

.footer-copyright a {
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -5px -5px;
}

.footer-copyright a:hover {
  background-position: -5px -54px;
}

.footer-copyright a:active {
  background-position: -5px -103px;
}